* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

html, body {
    height: 100%;
}

/* Divs gerais */
.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    background-color: #353535;
    padding: 10px 2% 40px 2%;
}

.logo-1 {
    width: 170px;
    height: 70px;
    background-image: url('../images/logo.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-2 {
    display: inline-block;
    height: 70px;
    padding: 18px 38px;
    background-color: #F9AD81;
    color: white;
    font-weight: normal;
    font-size: 0.7em;
}

section.cover-form {
    width: 100%;
}

section .container {
    justify-content: flex-end;
}

.bg {
    position: relative;
    height: 560px;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
}

.form-container {
    width: 400px;
    height: 105%;
    position: absolute;
    top: -2.5%;
    right: 30px;
    margin-right: 40px;
    box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
    background-color: white;
}

.form-container h2 {
    font-weight: normal;
    padding: 25px 15px;
    color: black;
    font-size: 18px;
    z-index: 1;
    position: relative;
}

.form-container h2:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.32;
    z-index: -1;
    content: "";
}

.form-container form {
    margin-top: 20px;
    padding: 15px;
}

.form-container form label {
    display: block;
    font-size: 14px;
    color: #525252;
}

.form-container .form-wrapper:not(:first-child) {
    margin-top: 40px;
}

.form-container .form-wrapper:last-child {
    margin-top: 20px;
}

.form-container form input[type=text], .form-container form input[type=email], .form-container form input[type=tel] {
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-container form button {
    background-color: #033c50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
    border: 0;
}

section.chamada {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    z-index: 1;
    position: relative;
}

.icone-seta {
    position: absolute;
    left: 50%;
    top: -72px;
    transform: translate(-50%);
    -ms-transform: translate(-50%);
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
    background-image: url('../images/arrow.png');
}

section.chamada .container {
    border: 15px solid #F9AD81;
    padding: 50px 0;
    justify-content: center;
}

section.chamada h2 {
    width: 96%;
    max-width: 700px;
    display: inline-block;
    color: #212529;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

section.chamada p {
    padding-top: 15px;
    width: 98%;
    max-width: 700px;
    display: inline-block;
    color: #212529;
    font-size: 20px;
}

section.mosaico {
    margin-top: 20px;
}

.flex-mosaico {
    display: flex;
}

.flex-mosaico:nth-child(2), .flex-mosaico:nth-child(4) {
    flex-direction: row-reverse;
}

.item-1-mosaico {
    background-image: url('../images/room-1.jpg');
    background-position: center;
    background-size: cover;
    width: 60%;
}

.flex-mosaico:nth-child(2) .item-1-mosaico {
    background-image: url('../images/room-2.jpg');
}

.flex-mosaico:nth-child(3) .item-1-mosaico {
    background-image: url('../images/room-3.jpg');
}

.flex-mosaico:nth-child(4) .item-1-mosaico {
    background-image: url('../images/room-4.jpg');
}

.item-2-mosaico {
    width: 40%;
    padding: 60px 40px;
}

.item-2-mosaico p {
    color: #9d9d9d;
}

footer {
    background-color: #242424;
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
}

footer p {
    margin-top: 8px;
    color: #9d9d9d;
}

footer a {
    color: #F9AD81;
    text-decoration: none;
}

footer img {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    width: 180px;
}

@media screen and (max-width: 1024px) {
    section .container {
        height: auto;
        padding: 60px 0;
        justify-content: center;
    }

    .form-container {
        width: 96%;
        max-width: 400px;
        height: auto;
        position: static;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .flex-mosaico {
        flex-wrap: wrap;
    }

    .item-1-mosaico {
        padding-top: 60%;
        width: 100%;
    }

    .item-2-mosaico {
        width: 100%;
        text-align: justify;
    }

    footer {
        margin-top: 0;
    }
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .logo-1, .logo-2 {
        margin-top: 10px;
        align-self: center;
    }

    .logo-2 {
        height: auto;
        text-align: center;
    }

    .form-container {
        top: -2%;
        margin: 0 2%;
        align-self: center;
    }
}